
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
.navigation ul{
    display: flex;
    list-style: none;
    font-size: 35px;
    position: relative;
}
.navigation ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    width: 110px;
    height: 110px;
    text-transform: uppercase;
    border-radius: 10px;

}
.navigation ul li{
    position: relative;
    z-index: 1;
}
.navigation ul li.active .icon{
    transform: scale(.9);
}
.navigation ul li.active .text{
    display: block;
}
.text{
    display: none;
    font-size: 18px;
    transition: .7s;
}
.icon{
    transition: .7s;
}
.indicator{
    width: 110px;
    height: 110px;
    position: absolute;
    background-color: rgb(209, 38, 172);
    left: 0;
    z-index: 0;
    border-radius: 15px;
    transition: .1s;
}
.navigation ul li:nth-child(1).active ~ .indicator{
    background-color: rgb(209, 38, 172);
    box-shadow: 0 10px 25px rgb(209, 38, 172);
}

.navigation ul li:nth-child(2).active ~ .indicator{
    background-color: rgb(11, 48, 150);
    left: 110px;
    box-shadow: 0 10px 25px rgb(11, 48, 150);
}
.navigation ul li:nth-child(3).active ~ .indicator{
    background-color: rgb(34, 223, 27);
    left: 220px;
    box-shadow: 0 10px 25px rgb(34, 223, 27);
}
.navigation ul li:nth-child(4).active ~ .indicator{
    background-color: rgb(196, 193, 22);
    left: 330px;
    box-shadow: 0 10px 25px rgb(196, 193, 22);
}
.navigation ul li:nth-child(5).active ~ .indicator{
    background-color: rgb(21, 160, 202);
    left: 440px;
    box-shadow: 0 10px 25px rgb(21, 160, 202);
}